# Python
__pycache__/
*.pyc
.venv/
venv/

# Data
data/raw_videos/*
!data/raw_videos/.gitkeep
data/raw_frames/*
!data/raw_frames/.gitkeep
data/dataset_v1/images/train/*
!data/dataset_v1/images/train/.gitkeep
data/dataset_v1/images/val/*
!data/dataset_v1/images/val/.gitkeep
*.mp4
*.avi
*.mov
*.mkv
*.wav

# Model files
models/*
!models/.gitkeep
*.pt
*.pth
*.onnx
*.h5

# Outputs
outputs/*
!outputs/.gitkeep
runs/

# IDE
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
